{% load static %}


<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mellower</title>
  </head>
  <body bgcolor="FACA70">

    <hr />

      <h1 style="text-align: center;">
        <a href="https://ibb.co/PQdyf39"><img src="https://i.ibb.co/tX96Wkx/logo-large.png" alt="logo-large" border="0" /></a>
      </h1>
      <h3 style="text-align: center;">
        <p><a href="http://127.0.0.1:8000/">»»ᅳINICIOᅳ►</a></p>
      </h3>


      <h3 style="text-align: center;">
        <span style="color: #000000; background-color: #FACA70;">█▓▒▒░░░SISTEMA DE RECONOCIMIENTO░░░▒▒▓█</span>
      </h3>
      <h3 style="text-align: center;">
        <span style="color: #000000; background-color: #FACA70;">█▓▒▒░░░DE FLORES MEL&Iacute;FERAS░░░▒▒▓█</span>
      </h3>
          <h4 style="text-align: center;">
            <form method="GET" name="subida-imagenes" type="POST" enctype="multipart/formdata">
              <input type="file" name="imagen">
              <input type="submit" id="imagen_enviada" value="Reconocer">
            </form>
          </h4>
      <h1 style="text-align: center;">{{Encontrada}}</h1>
      <h2 style="text-align: center;">
        <span>-------------</span>
      </h2>

      <h1 style="text-align: center;">
        <strong>𝓣𝓲𝓹𝓸𝓼 𝓭𝓮 𝓕𝓵𝓸𝓻𝓮𝓼</strong>
      </h1>
      <hr />
      <p>&nbsp;</p>
      <h2 style="text-align: center;">
        <span style="color: #000000; background-color: #FACA70;">𝙈𝙖𝙧𝙜𝙖𝙧𝙞𝙩𝙖</span>
      </h2>
      <h2 style="text-align: center;">
        <a href="https://imgbb.com/"><img height="168" width="300" src="https://i.ibb.co/z4p5414/daisyprueba2.jpg" alt="daisyprueba2" border="0" /></a>
      </h2>
      <h2 style="text-align: center;">
        Las asteráceas (Asteraceae), también llamadas compuestas (Compositae),
        reúnen 32 913 repartidas en unos 1911 géneros. Las inflorescencias de las compuestas
        generalmente se entrecruzan y atraen una amplia variedad de polinizadores generalistas
        (como por ejemplo, mariposas, abejas, moscas y escarabajos), pero la polinización
        por abejas solitarias es especialmente común.
      </h2>
      <hr />
      <p>&nbsp;</p>
      <h2 style="text-align: center;">
        <span style="color: #000000; background-color: #FACA70;">𝘿𝙞𝙚𝙣𝙩𝙚 𝙙𝙚 𝙇𝙚𝙤𝙣</span>
      </h2>
      <h2 style="text-align: center;">
        <a href="https://imgbb.com/"><img height="168" width="300" src="https://i.ibb.co/XJmCRSx/dandelionprueba4.jpg" alt="dandelionprueba4" border="0" /></a>
      </h2>
      <h2 style="text-align: center;">
        El diente de león (Taraxacum officinale), también conocido como achicoria amarga,
        es una especie de la familia de las asteráceas. Considerada generalmente como una mala
        hierba, aunque sería más correcto decir "hierba adventicia", sus hojas se consumen en
        ensalada y se le han atribuido numerosas propiedades medicinales. Es una de las principales
        especies de flora de interés apícola en las praderas, las abejas visitan sus flores
        indefectiblemente, que entregan muy buena cantidad de néctar y polen. Por su distribución
        prácticamente cosmopolita es conocido en todo el mundo por los apicultores.
      </h2>
      <hr />
      <p>&nbsp;</p>
      <h2 style="text-align: center;">
        <span style="color: #000000; background-color: #FACA70;">𝙂𝙞𝙧𝙖𝙨𝙤𝙡</span>
      </h2>
      <h2 style="text-align: center;">
        <a href="https://ibb.co/BK7X39V"><img height="168" width="300" src="https://i.ibb.co/5xzN4PW/girasolprueba.jpg" alt="girasolprueba" border="0" /></a>
      </h2>
      <h2 style="text-align: center;">
        Helianthus annuus, llamado comúnmente girasol o flor de escudo, es una planta herbácea
        anual de la familia de las asteráceas originaria de Centro y Norteamérica y cultivada
        como alimenticia, oleaginosa y ornamental en todo el mundo. La especie mayoritaria de la
        cual procede la miel natural de calidad suprema es el girasol; la inflorescencia o capítulo
        floral de hasta 30 cm de diámetro, está formada por cientos de pequeñas flores tubulares
        en cuyo diámetro externo se disponen las lígulas pareciéndose pétalos, las cuales son de
        color amarillo dorado con el fin de atraer a las abejas polinizadoras entre otros insectos.
      </h2>
      <hr />
      <p>&nbsp;</p>
      <h2 style="text-align: center;">
        <span style="color: #000000; background-color: #FACA70;">𝙍𝙤𝙨𝙖</span>
      </h2>
      <h2 style="text-align: center;">
        <a href="https://ibb.co/BK7X39V"><img height="168" width="300" src="https://i.ibb.co/M604LDm/roseprueba.jpg" alt="roseprueba" border="0" /></a>
      </h2>
      <h2 style="text-align: center;">
        El género Rosa está compuesto por un conocido grupo de arbustos generalmente espinosos y
        floridos representantes principales de la familia de las rosáceas. Se denomina rosa a la
        flor de los miembros de este género y rosal a la planta. La miel de rosas es un remedio
        natural de exquisito sabor, que puede ayudarte a tratar varios problemas de salud. La miel
        de rosas o rodomiel es un preparado elaborado a partir de los pétalos de diferentes tipos de rosas.
        <hr />
        <p>&nbsp;</p>
        <h2 style="text-align: center;">
          <span style="color: #000000; background-color: #FACA70;">𝙏𝙪𝙡𝙞𝙥𝙖𝙣</span>
        </h2>
        <h2 style="text-align: center;">
          <a href="https://ibb.co/BK7X39V"><img height="168" width="300" src="https://i.ibb.co/jZWGZtq/tulipprueba.jpg" alt="tulipprueba" border="0" /></a>
        </h2>
        <h2 style="text-align: center;">
          Tulipa es un género de plantas perennes y bulbosas perteneciente a la familia Liliaceae, en el
          que se incluyen los populares tulipanes, nombre común con el que se designa a todas las especies,
          híbridos y cultivares de este género. Tulipa contiene aproximadamente 150 especies e innumerables
          cantidades de híbridos y cultivares conseguidos a través de mejoramiento genético que los floricultores
          fueron realizando desde el siglo XVI. Miel de tulipán de color rojizo, tiene un aroma agradable y buen
          gusto. Las abejas recogen esta miel de las flores de color rojo verdoso de un hermoso tulipán decorativo.
          Este árbol es una buena planta de miel, ya que contiene la mayor cantidad de néctar en comparación con
          otras plantas de miel subtropical. De un árbol de tulipán, las abejas recolectan 1 kg de miel.
      </h2>


  </body>
</html>
